@font-face{
    font-family: "maiden";
    src: url("../fonts/maiden.ttf");
}

body{
    position: relative;
    width: 800px;
    margin: auto;
    font-family: "arial";
    background: black;
    color: yellow;
    font-size: 40px;
    /* margin: 10px; */
}

p{
    color: white;
    margin-top:40px;
    margin-bottom:40px;
    
}

h1{
    font-family: "maiden";
    color: white;
    font-size: 100px;
    
}

div{
   display: block;
}

#bad_guess{
    color: red; 
}

.letter{
    display: inline;
    margin: 10px;
}

.blank{
    margin: 20px;
    display:inline;
}

#test{
    width: 100%;
    margin: auto;
}

#new_game{
    display:none;
    justify-content: center;
    margin:auto;
    background-color: purple;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 100px;
    
}

#video{
    position: bottom;
}